
2018-11-20 16:39:29,102 INFO [OkHttp https://sc.goshare2.com:8108/...] 
c.s.fail [ClkTrackLinkSender.java:40] FAIL REQUEST: req=Request{method=GET, 
url=https://sc.goshare2.com:8108/cb/installation_track?project=production&idfa=BDBFAE8A-66ED-4B2E-9FFB-1A2B962878F0&ip=223.104.147.56&click_time=1542703158134&utm_source=douban&utm_content=22259974&utm_campaign=827268&callback_key=Cq4BCiQ2NTI3YTg4YS04NjMyLTQxZjEtODRjMi1kMDY2NDUwZDE4MzYQtf0QGIS_MiCkj98CKIbSzgowbkimC1DoKGIgMjNlODFiMmYyZjFkY2JlOGI1MzQ4YzU2MTAzMTBkZGZyDjIyMy4xMDQuMTQ3LjU2kgEkQkRCRkFFOEEtNjZFRC00QjJFLTlGRkItMUEyQjk2Mjg3OEYwugECRzTKAQUyLjUuMNgB9qaYgvMsEgoyMzQwNDk1NDg1GAIgAA==&channel_name=youdao_track, tag=null}

2018-11-20 16:53:17,722 INFO [OkHttp https://sc.goshare2.com:8108/...] 
c.s.fail [ClkTrackLinkSender.java:40] FAIL REQUEST: req=Request{method=GET, 
url=https://sc.goshare2.com:8108/cb/installation_track?project=production&idfa=C389958B-FE36-462F-8D77-1A4AC10D203A&ip=117.136.67.1&click_time=1542703986688&utm_source=douban&utm_content=22259974&utm_campaign=827268&callback_key=CqwBCiQwZTc4M2M1Zi0zOGE5LTQ3NmMtYTVmMi04MjlmNjYxMmJiODEQtf0QGIS_MiCkj98CKIbSzgowbkimC1DoKGIgMjNlODFiMmYyZjFkY2JlOGI1MzQ4YzU2MTAzMTBkZGZyDDExNy4xMzYuNjcuMZIBJEMzODk5NThCLUZFMzYtNDYyRi04RDc3LTFBNEFDMTBEMjAzQboBAkc0ygEFMi41LjDYAYDwyoLzLBIKMjM0MDQ5NTQ4NRgCIAA=&channel_name=youdao_track, tag=null}

2018-11-20 18:05:44,165 INFO [OkHttp https://sc.goshare2.com:8108/...] 
c.s.fail [ClkTrackLinkSender.java:40] FAIL REQUEST: req=Request{method=GET,
url=https://sc.goshare2.com:8108/cb/installation_track?project=production&idfa=64CD4481-0DA6-49EA-B314-9EB25D899E9E&ip=220.181.102.181&click_time=1542708332975&utm_source=douban&utm_content=22259974&utm_campaign=827268&callback_key=CrEBCiQyM2IzNDg4Zi0xOTVmLTQzOTktYTE5ZC1iZDU4NzA1ODFlODAQtf0QGIS_MiCkj98CKIbSzgowbkimC1DoKGIgMjNlODFiMmYyZjFkY2JlOGI1MzQ4YzU2MTAzMTBkZGZyDzIyMC4xODEuMTAyLjE4MZIBJDY0Q0Q0NDgxLTBEQTYtNDlFQS1CMzE0LTlFQjI1RDg5OUU5RboBBFdJRknKAQUyLjUuMNgBr5PUhPMsEgoyMzQwNDk1NDg1GAIgAA==&channel_name=youdao_track, tag=null}

